<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PirateTUO2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--  ___________________________________________
          APP SETTINGS - Old values
          ___________________________________________  -->
    <!-- Configurations -->
    <add key="newestCardSection" value="16" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <PirateTUO2.Properties.Settings>
      <setting name="myDeckTextBox1" serializeAs="String">
        <value />
      </setting>
      <setting name="myDeckTextBox2" serializeAs="String">
        <value />
      </setting>
      <setting name="myDeckTextBox3" serializeAs="String">
        <value />
      </setting>
      <setting name="enemyDeckTextBox1" serializeAs="String">
        <value />
      </setting>
      <setting name="enemyDeckTextBox2" serializeAs="String">
        <value />
      </setting>
      <setting name="enemyDeckTextBox3" serializeAs="String">
        <value />
      </setting>
      <setting name="myFortComboBox1" serializeAs="String">
        <value />
      </setting>
      <setting name="myFortComboBox2" serializeAs="String">
        <value />
      </setting>
      <setting name="myFortComboBox3" serializeAs="String">
        <value />
      </setting>
      <setting name="enemyFortComboBox1" serializeAs="String">
        <value />
      </setting>
      <setting name="enemyFortComboBox2" serializeAs="String">
        <value />
      </setting>
      <setting name="enemyFortComboBox3" serializeAs="String">
        <value />
      </setting>
      <setting name="bgeComboBox1" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="bgeComboBox2" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="bgeComboBox3" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="yourBgeComboBox1" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="yourBgeComboBox2" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="yourBgeComboBox3" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="enemyBgeComboBox1" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="enemyBgeComboBox2" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="enemyBgeComboBox3" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="gameModeComboBox1" serializeAs="String">
        <value>Surge - Ordered</value>
      </setting>
      <setting name="gameModeComboBox2" serializeAs="String">
        <value>Surge - Ordered</value>
      </setting>
      <setting name="gameModeComboBox3" serializeAs="String">
        <value>Surge - Ordered</value>
      </setting>
      <setting name="gameOperationComboBox1" serializeAs="String">
        <value>climb</value>
      </setting>
      <setting name="gameOperationComboBox2" serializeAs="String">
        <value>climb</value>
      </setting>
      <setting name="gameOperationComboBox3" serializeAs="String">
        <value>climb</value>
      </setting>
      <setting name="gameMISTextBox1" serializeAs="String">
        <value />
      </setting>
      <setting name="gameMISTextBox2" serializeAs="String">
        <value />
      </setting>
      <setting name="gameMISTextBox3" serializeAs="String">
        <value />
      </setting>
      <setting name="gameHarmonicMeanCheckBox1" serializeAs="String">
        <value />
      </setting>
      <setting name="gameHarmonicMeanCheckBox2" serializeAs="String">
        <value />
      </setting>
      <setting name="gameHarmonicMeanCheckBox3" serializeAs="String">
        <value />
      </setting>
      <setting name="gameFundTextBox1" serializeAs="String">
        <value />
      </setting>
      <setting name="gameFundTextBox2" serializeAs="String">
        <value />
      </setting>
      <setting name="gameFundTextBox3" serializeAs="String">
        <value />
      </setting>
      <setting name="gameExtraFlagsTextBox1" serializeAs="String">
        <value />
      </setting>
      <setting name="gameExtraFlagsTextBox2" serializeAs="String">
        <value />
      </setting>
      <setting name="gameExtraFlagsTextBox3" serializeAs="String">
        <value />
      </setting>
      <setting name="gameTUODebugCheckBox1" serializeAs="String">
        <value />
      </setting>
      <setting name="gameTUODebugCheckBox2" serializeAs="String">
        <value />
      </setting>
      <setting name="gameTUODebugCheckBox3" serializeAs="String">
        <value />
      </setting>
      <setting name="gameCPUThreadsTextBox1" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="gameCPUThreadsTextBox2" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="gameCPUThreadsTextBox3" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="gameCPUx86CheckBox1" serializeAs="String">
        <value />
      </setting>
      <setting name="gameCPUx86CheckBox2" serializeAs="String">
        <value />
      </setting>
      <setting name="gameCPUx86CheckBox3" serializeAs="String">
        <value />
      </setting>
      <setting name="inventoryListBox1" serializeAs="String">
        <value />
      </setting>
      <setting name="inventoryListBox2" serializeAs="String">
        <value />
      </setting>
      <setting name="inventoryListBox3" serializeAs="String">
        <value />
      </setting>
      <setting name="inventoryCardAddonsListBox1" serializeAs="String">
        <value />
      </setting>
      <setting name="inventoryCardAddonsListBox2" serializeAs="String">
        <value />
      </setting>
      <setting name="inventoryCardAddonsListBox3" serializeAs="String">
        <value />
      </setting>
      <setting name="inventorySeedComboBox1" serializeAs="String">
        <value />
      </setting>
      <setting name="inventorySeedComboBox2" serializeAs="String">
        <value />
      </setting>
      <setting name="inventorySeedComboBox3" serializeAs="String">
        <value />
      </setting>
      <setting name="bestEffortSeedComboBox1" serializeAs="String">
        <value />
      </setting>
      <setting name="bestEffortSeedComboBox2" serializeAs="String">
        <value />
      </setting>
      <setting name="bestEffortSeedComboBox3" serializeAs="String">
        <value />
      </setting>
      <setting name="gauntletCustomDecksComboBox1" serializeAs="String">
        <value />
      </setting>
      <setting name="gauntletCustomDecksComboBox2" serializeAs="String">
        <value />
      </setting>
      <setting name="gauntletCustomDecksComboBox3" serializeAs="String">
        <value />
      </setting>
      <setting name="gauntletListBox1" serializeAs="String">
        <value />
      </setting>
      <setting name="gauntletListBox2" serializeAs="String">
        <value />
      </setting>
      <setting name="gauntletListBox3" serializeAs="String">
        <value />
      </setting>
      <setting name="gameDeckLimitLowTextBox1" serializeAs="String">
        <value />
      </setting>
      <setting name="gameDeckLimitLowTextBox2" serializeAs="String">
        <value />
      </setting>
      <setting name="gameDeckLimitLowTextBox3" serializeAs="String">
        <value />
      </setting>
      <setting name="gameDeckLimitHighTextBox1" serializeAs="String">
        <value />
      </setting>
      <setting name="gameDeckLimitHighTextBox2" serializeAs="String">
        <value />
      </setting>
      <setting name="gameDeckLimitHighTextBox3" serializeAs="String">
        <value />
      </setting>
      <setting name="gameOutputCheckBox1" serializeAs="String">
        <value />
      </setting>
      <setting name="gameOutputCheckBox2" serializeAs="String">
        <value />
      </setting>
      <setting name="gameOutputCheckBox3" serializeAs="String">
        <value />
      </setting>
      <setting name="gameTimeoutTextBox" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="gameIterationsComboBox1" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="gameIterationsComboBox2" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="gameIterationsComboBox3" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="batchSimGuildComboBox" serializeAs="String">
        <value />
      </setting>
      <setting name="batchSimMyFortComboBox" serializeAs="String">
        <value />
      </setting>
      <setting name="batchSimEnemyFortComboBox" serializeAs="String">
        <value />
      </setting>
      <setting name="batchSimBgeComboBox" serializeAs="String">
        <value />
      </setting>
      <setting name="batchSimYourBgeComboBox" serializeAs="String">
        <value />
      </setting>
      <setting name="batchSimEnemyBgeComboBox" serializeAs="String">
        <value />
      </setting>
      <setting name="batchSimCustomDecksComboBox" serializeAs="String">
        <value />
      </setting>
      <setting name="batchSimGameModeComboBox" serializeAs="String">
        <value />
      </setting>
      <setting name="guildSimOutputFormatComboBox" serializeAs="String">
        <value />
      </setting>
      <setting name="inventoryPossibleCardsCheckBox1" serializeAs="String">
        <value />
      </setting>
      <setting name="inventoryPossibleCardsCheckBox2" serializeAs="String">
        <value />
      </setting>
      <setting name="inventoryPossibleCardsCheckBox3" serializeAs="String">
        <value />
      </setting>
      <setting name="batchSimExtraFlagsTextBox" serializeAs="String">
        <value />
      </setting>
      <setting name="batchSimDeckSizeLowTextBox" serializeAs="String">
        <value />
      </setting>
      <setting name="batchSimDeckSizeHighTextBox" serializeAs="String">
        <value />
      </setting>
      <setting name="queuedSimOutputFileTextBox" serializeAs="String">
        <value />
      </setting>
      <setting name="queuedSimWriteToOneFileCheckBox" serializeAs="String">
        <value />
      </setting>
      <setting name="batchSimIterationsComboBox" serializeAs="String">
        <value />
      </setting>
      <setting name="batchSimInventoryListBox" serializeAs="String">
        <value />
      </setting>
      <setting name="batchSimSeedListBox" serializeAs="String">
        <value />
      </setting>
      <setting name="batchSimShortcutSpeedComboBox" serializeAs="String">
        <value />
      </setting>
      <setting name="inventoryFilterComboBox1" serializeAs="String">
        <value />
      </setting>
      <setting name="inventoryFilterComboBox2" serializeAs="String">
        <value />
      </setting>
      <setting name="inventoryFilterComboBox3" serializeAs="String">
        <value />
      </setting>
      <setting name="cardFinderUnfusedCheckbox" serializeAs="String">
        <value />
      </setting>
      <setting name="cardFinderDualCheckbox" serializeAs="String">
        <value />
      </setting>
      <setting name="cardFinderQuadCheckbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="cardFinderEpicCheckbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="cardFinderLegendCheckbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="cardFinderVindCheckbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="cardFinderImpCheckbox" serializeAs="String">
        <value />
      </setting>
      <setting name="cardFinderRaiderCheckbox" serializeAs="String">
        <value />
      </setting>
      <setting name="cardFinderBtCheckbox" serializeAs="String">
        <value />
      </setting>
      <setting name="cardFinderXenoCheckbox" serializeAs="String">
        <value />
      </setting>
      <setting name="cardFinderRtCheckbox" serializeAs="String">
        <value />
      </setting>
      <setting name="cardFinderProgenCheckbox" serializeAs="String">
        <value />
      </setting>
      <setting name="cardFinderSection1to14Checkbox" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="cardFinderSet2000Checkbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="cardFinderSet2500Checkbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="cardFinderSet6000Checkbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="cardFinderSet9999Checkbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="cardFinderSetOtherCheckbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="cardFinderSet7000Checkbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="cardFinderAssaultCheckbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="cardFinderStructureCheckbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="cardFinderCommanderCheckbox" serializeAs="String">
        <value />
      </setting>
      <setting name="cardFinderBoxCheckbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="cardFinderChanceCheckbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="cardFinderCacheCheckbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="cardFinderPvPRewardCheckbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="cardFinderPvERewardCheckbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="cardFinderPowerLowUpDown" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="cardFinderFactionPowerLowUpDown" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="cardFinderSortByComboBox" serializeAs="String">
        <value>XMLOrder</value>
      </setting>
      <setting name="cardFinderMythicCheckbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="cardFinderSet8000Checkbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="cardFinderSet8500Checkbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="cardFinderDominionCheckbox" serializeAs="String">
        <value />
      </setting>
      <setting name="cardFinderEventStructureCheckbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="myDominionComboBox1" serializeAs="String">
        <value />
      </setting>
      <setting name="myDominionComboBox2" serializeAs="String">
        <value />
      </setting>
      <setting name="myDominionComboBox3" serializeAs="String">
        <value />
      </setting>
      <setting name="cardFinderSection15Checkbox" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="batchSimMisTextBox" serializeAs="String">
        <value />
      </setting>
      <setting name="batchSimFundTextBox" serializeAs="String">
        <value />
      </setting>
      <setting name="batchSimGameHarmonicMeanCheckBox" serializeAs="String">
        <value />
      </setting>
      <setting name="cardFinderPowerHighUpDown" serializeAs="String">
        <value>99</value>
      </setting>
      <setting name="cardFinderFactionPowerHighUpDown" serializeAs="String">
        <value>99</value>
      </setting>
      <setting name="cardFinderSkillTextBox" serializeAs="String">
        <value />
      </setting>
      <setting name="cardFinderSection16Checkbox" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="minimizeToTray" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="navigatorPlayerDeckTextBox" serializeAs="String">
        <value />
      </setting>
      <setting name="navSimEnemyDeckTextBox" serializeAs="String">
        <value />
      </setting>
      <setting name="navSimBgeComboBox" serializeAs="String">
        <value />
      </setting>
      <setting name="navSimMyFortComboBox" serializeAs="String">
        <value />
      </setting>
      <setting name="navSimEnemyFortComboBox" serializeAs="String">
        <value />
      </setting>
      <setting name="navSimYourBgeComboBox" serializeAs="String">
        <value />
      </setting>
      <setting name="navSimEnemyBgeComboBox" serializeAs="String">
        <value />
      </setting>
      <setting name="navSimCustomDecksComboBox" serializeAs="String">
        <value />
      </setting>
      <setting name="cardFinderSet9500Checkbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="crowsNestSetDeckTextBox" serializeAs="String">
        <value />
      </setting>
      <setting name="cardFinderSection17Checkbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="cardFinderSection18Checkbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="cardFinderSection19Checkbox" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="firstCouncilSimCustomDecksComboBox" serializeAs="String">
        <value />
      </setting>
      <setting name="adminMiscCreateInventoryExtraFilteredCardsTextBox"
        serializeAs="String">
        <value />
      </setting>
    </PirateTUO2.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;libs" />
    </assemblyBinding>
  </runtime>
</configuration>